.body {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  position: relative;
  z-index: 1;
}

.apple-logo {
  width: 40px;
  height: 50px;
}

.container_1,
.container_2 {
  display: flex;
  border-bottom: 1px solid #f9f9f9;
  background: #ff930f;

  /* background-color: #f9c74f; */
  flex-direction: column;
}

.line {
  float: right;
  margin-top: -280px;
  margin-right: 100px;
  color: #007f5f;
}

.line2 {
  text-align: center;
  margin-top: 170px;
  padding-bottom: 50px;
  color: #007f5f;
}
